.field {
    margin-top: 10px;
    margin-bottom: 10px;
}

.field-label {
    color: #444444;
    font-size: 1vw;
}

.field-input {
    border: 0px;
    width: 100%;
    height: 4vh;
    border-radius: 5px;
    font-size: 1vw;
    padding-left: 5px;
    padding-right: 5px;
}

.field-input:focus {
    outline: 0px;
    box-shadow: 0 0 3pt 1.5pt #01BFE6;
}